/* Reusable CSS */
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
}
section{
    height: 550px;
    padding-bottom: 100px;
}img{
    width: 100%;
}

/* header section */
#top-section{
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  height: 550px;
  background-position: left top;
}
.half-width{
    width: 40%;
    float: left;
    padding:0% 3% ;
    margin-top: 20px;
    padding-left: 70px;
}
.half-width h1{
    margin-top: 150px;
    text-transform: uppercase;
}
.half-width h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
    color: lightsalmon;
}
.half-width p{
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 50px;
}
.half-width img{
    margin-top: 60px;
}
.link-button{
    padding: 12px 30px;
    background-image: linear-gradient(75deg,lightsalmon,tomato);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.link-button i{
    margin-left: 5px;
}
/* End Header section */

/* Bio Section Start */

#bio-section{
    background-image: url(images/biography-bg.png);
}
#bio-section h2{
    text-transform: capitalize;
}
.bio-head{
    margin-top: 150px;
}

/* Bio Section End */

/* Start Letest work section */

#work-section{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    padding: 50px 0px;
    background-position: right top;
    
}
#work-section h2{
    text-align: center;
    margin: 80px 0px;
    font-size:32px;
}
.letest-works{
    width: 1170px;
    margin: auto;
   
}
.worksite{
    width: 30%;
   display: inline-block;
   margin-left: 15px;
   margin-top: 60px;
  
}
.worksite img{
    width: 100%;
}
/* End letest work section */

/* Clients Section Start */
#clients-section{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 0px;
 
}
#clients-section h2{
    margin: 80px 0px;
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
}
.container{
    width: 1170px;
    margin: auto;
}
.bruce-client{
   text-align: center;
 
}
.bruce-client h4{
    margin-bottom: 0;
}
.bruce-client span{
    font-size: 12px;
    font-weight: 600;
    color: gray;
 
}
.bruce-client p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(26, 25, 25);
}
.contact-info{
    width: 600px;
    margin: auto;
    background-image:linear-gradient(45deg,lightsalmon,tomato) ;
    margin-top: 70px;
    text-align: center;
    padding: 50px 40px;
    font-weight: 600;
    border-radius: 5px;
}
.contact-info a{
    text-decoration: none;
    color: white;
}
/* Clients Section End */
/* Footer Section */
footer{
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: gray;
}
/* Footer Section */